body {
    font-family: Arial;
    background-color: #111;
    color: white;
    padding: 20px;
}

h1 {
    color: #00ffcc;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style: square;
}